.jspdasa {
width:270px;
height:163px;
background:#111111;
margin:0 auto;
border:1px solid #222222;
}

.jspdasb {
width:250px;
height:143px;
background-image:url('https://i.imgur.com/uHK50k3.png');
position:relative;
top:9px;
left:9px;
border:1px solid #222222;
transition:ease 1s;
}

.jspdasb:hover {
width:250px;
height:143px;
background-image:url('https://i.imgur.com/uHK50k3.png');
position:relative;
top:9px;
left:9px;
border:1px solid #222222;
filter: grayscale(100%);
transition:ease 1s;
}
