.poclatit1 {
width:420px;
background:#111111;
margin:0 auto;
border:1px solid #222222;
} 

.poclatit2 {
font:30px 'Abril Fatface';
line-height:60px;
text-align:center;
color:#8a534a;
text-transform:uppercase;
} 

.poclacue1 {
width:420px;
background:#FF0000;
margin:0 auto;
background:url(https://2img.net/i.imgur.com/5z3LYVx.png) no-repeat center center fixed;
background-size:cover;
border-left:1px solid #222222;
border-right:1px solid #222222;
border-bottom:1px solid #222222;
}

.poclaes1 {
padding:30px;
} 

.poclacue2 {
widith:360px;
height:auto;
background:#111111;
} 

.poclacue3 {
padding:30px;
font:13px 'Calibri Light';
text-align:justify;
} 

.poclacos1 {
width:100%;
height:30px;
background:#80A69C;
margin:0 auto;
border-bottom:1px solid #222222;
} 

.poclacos2 {
font:13px calibri light;
text-align:center;
color:#111111;
line-height:30px;
text-transform:uppercase;
font-weight:bold;
} 

#icoj1 {
margin-right:5px;
} 

#icoj2 {
margin-left:5px;
margin-right:5px;
} 

.poclasep1 {
width:420px;
height:30px;
background:#222222;
} 

.poclasep2 {
width:390px;
height:30px;
background:#111111;
margin-left:15px;
text-align:center;
text-transform:uppercase;
font:15px 'Abril Fatface';
line-height:30px;
} 

#icojes1 {
margin-right:5px;
}
